<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
<h1 layout:fragment="header">Inclusão/Alteração Usuário </h1>

	<div layout:fragment="content" class="container">
	<form id="UsuarioForm" th:action="@{/usuarios/gravar}" method="post" th:object="${usuario}" action="#" >
		
		<label for="userName">Nome:</label>
			<input id="userName" type="text" th:field="*{username}" /><br/>
		<label for="userEmail">Email:</label>
			<input id="userEmail" type="text" th:field="*{email}" /><br/>
		<label for="userPass">Passwords:</label>
			<input id="userPass" type="password" th:field="*{password}" /><br/>
		
		<input type="submit" value="gravar" />

	</form>
	</div>
</body>
</html>
