<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>

	<form id="UsuarioForm" th:action="@{/livros/(formUsuarios)}" method="post" th:object="${usuario}" action="#" >
		
		Nome: <input type="text" th:field="*{username}" /><br/>
		Email: <input type="text" th:field="*{email}" /><br/>
		Passwords: <input type="password" th:field="*{password}" /><br/>
		
		<input type="submit" value="gravar" />

	</form>
</body>
</html>
